.modal-body {
  background: url("/assets/img/backgrounds/login.png");
  background-size: cover;
  border: 0 none;
  border-radius: 3px;
}

.cst-checkbox {
  position: absolute;
  left: 2.5rem;
  width: 1rem;
  height: 1rem;
}
