.workshop-type {
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

.dropdown-menu.show {
  -moz-box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
}
