<div class="container-fluid">
  <div class="row welcome-banner bg-white">
    <div class="col-12 col-md-10 p-4 pl-lg-5">
      <div class="row">
        <div class="col-auto d-none d-sm-block pr-0">
          <img src="/assets/img/images/logo.png" class="img-fluid logo">
        </div>
        <div class="col d-flex align-items-center">
          <h3 class="d-inline-block mb-0 font-weight-bold align-middle">
            Te damos la bienvenida al sitio de Mi Natura Web
          </h3>
        </div>
        <div class="col-12 d-none d-md-block">
          <p class="text-muted mt-3">
            En Natura México queremos que te conectes fácilmente con tu formación y administres sencillamente
            tus eventos de entrenamiento.
          </p>
          <p class="font-weight-bold m-0">
            Te invitamos a utilizar Mi Natura para organizar los eventos de entrenamiento de tu negocio.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-loader [loading]="loading"></app-loader>
  <div class="row py-4 px-0 px-sm-3" *ngIf="!loading">
    <div class="col-12 col-md-6 mb-4">
      <app-workshop-list-preview
        [workshopList]="myWorkshops"
        [title]="myWorkshopsTitle"
        [subtitle]="myWorkshopsSubtitle"
        [mine]="true"
        [canScroll]="true"
        size="small">
      </app-workshop-list-preview>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <app-workshop-list-preview
        [workshopList]="recentWorkshops"
        [canScroll]="true"
        title="Talleres del día"
        subtitle="Consulta los talleres que se impartirán hoy"
        size="small">
      </app-workshop-list-preview>
    </div>
    <div class="d-none col-12 col-md-6 mb-4">
      <app-workshop-list-preview
        title="Talleres concluidos"
        [canScroll]="true"
        size="small">
      </app-workshop-list-preview>
    </div>
    <div class="col-12 col-lg-8 mb-4">
      <div class="natura-card">
        <div class="natura-card-header p-3">
          <h4 class="font-weight-bold m-0">Boletín Mi Natura</h4>
        </div>
        <div class="natura-card-body natura-news p-3">
          <div class="row">
            <div class="col-12 pb-2">
              <i class="natura-icon-news fa-3x text-primary"></i>
            </div>
            <div class="col-12 col-md-8 col-lg-6">
              <h5 class="m-0">Mantente informado sobre las novedades dentro de natura.</h5>
            </div>
          </div>
          <button class="btn btn-natura btn-big btn-wide btn-floating right bottom" [routerLink]="['/boletin']">
            <span class="align-middle">Ver más</span>
            <i class="fas fa-angle-right ml-2 align-middle"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mb-4">
      <div class="natura-card">
        <div class="natura-card-header p-3">
          <h4 class="font-weight-bold m-0">Aplicación móvil</h4>
        </div>
        <div class="natura-card-body text-center promo">
          <h2 class="mb-1 pt-4 font-weight-bold">Mi Natura</h2>
          <p>Descarga la app</p>
          <a href="https://itunes.apple.com/mx/app/mi-natura/id1078710699" target="_blank">
            <img src="/assets/img/images/appstore_icon.svg" class="appstore-icon mr-3">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.natura.conectate" target="_blank">
            <img src="/assets/img/images/playstore_icon.svg" class="appstore-icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
