nav {
  box-shadow: 0px 1px 11px rgba(0,0,0,0.2);
}

.search {
  .form-control {
    border-radius: 0 20px 20px 0;
    box-shadow: none;
    outline: none!important;
    height: 28px;
  }
  .input-group-text {
    border-radius: 20px 0 0 20px;
    height: 28px;
  }
}
