<nav class="navbar navbar-light bg-white py-3">
  <form class="form-inline d-none d-md-block invisible">
    <div class="input-group search">
      <div class="input-group-prepend">
        <span class="input-group-text bg-white border-right-0 border-secondary">
          <i class="fas fa-search align-middle"></i>
        </span>
      </div>
      <input type="text" class="form-control border-secondary border-left-0"
             placeholder="Buscar" aria-label="Buscar">
    </div>
  </form>
  <i class="fas fa-bars d-md-none cursor-pointer" (click)="onSidebarToggle()"></i>
  <a (click)="logout()" class="float-right float-md-none">
    <small class="align-baseline mr-2 d-none d-sm-inline-block">Cerrar sesión</small>
    <i class="natura-icon-logout align-middle"></i>
  </a>
</nav>
