.container-fluid {
  min-height: 100vh;
}

h1 {
  font-size: 4.5em;
}

.bg-login {
  background: url("/assets/img/backgrounds/login.png") no-repeat;
  background-size: cover;
}

.img-login {
  background: url("/assets/img/images/login.jpg") no-repeat;
  background-size: cover;
  background-position-y: 50%;
}

