@import "../../variables";

.workshop-list {
  max-height: 180px;
  overflow-y: auto;

  .workshop {
    font-size: .7em;

    .description {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    hr {
      background-color: $purple-haze;
      opacity: 0.3;
    }
  }
}

