<div class="container-fluid">
  <div class="row">
    <div class="col-12" *ngIf="isLeader">
      <div class="natura-card mt-4 p-4">
        <div class="row">
          <div class="col-12">
            <img src="../../assets/img/icons/gradient-png/workshop.png" class="natura-card-icon">
            <h5 class="mb-0 font-weight-bold mt-2">Crear taller</h5>
            <p class="m-0 d-none d-md-block">Selecciona un tipo de taller para comenzar</p>
          </div>
          <div class="col-12 col-md-4 p-3" *ngFor="let type of workshopTypeList">
            <div class="workshop-type" [routerLink]="['/talleres', 'crear', type.alias]"
                 [style.backgroundImage]="'url(../../assets/img/images/' + type.picture + ')'">
              <h5 class="text-white font-weight-bold text-left ml-3 mb-0" [innerHTML]="type.name"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader [loading]="loading"></app-loader>
  <div class="row my-4" *ngIf="!loading">
    <div class="col-12 col-md-6 mb-4">
      <app-workshop-list-preview
        title="Mis talleres"
        [workshopList]="myWorkshops"
        size="medium"
        [mine]="true">
        <div bottom class="natura-card-bottom">
          <a [routerLink]="['/talleres', 'mios']">
            <button class="btn btn-natura btn-big btn-wide d-inline-block" >
              <span class="align-middle">Ver más</span>
              <i class="fas fa-angle-right ml-2 align-middle"></i>
            </button>
          </a>
        </div>
      </app-workshop-list-preview>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <app-workshop-list-preview
        title="Consulta y registro"
        [workshopList]="todayWorkshops"
        size="medium">
        <div top class="w-100 px-4 pt-3">
          <p class="text-capitalize font-weight-bold">{{ date | date: 'EEEE, LLL dd' }}</p>
        </div>
        <div bottom class="natura-card-bottom">
          <a [routerLink]="['/talleres', 'filtros', 'consulta-y-registro']" [queryParams]="{filtro: 'calendario'}">
            <button class="btn btn-natura btn-big btn-wide d-inline-block">
              <span class="align-middle">Ver más</span>
              <i class="fas fa-angle-right ml-2 align-middle"></i>
            </button>
          </a>
        </div>
      </app-workshop-list-preview>
    </div>
  </div>
</div>
