<div class="modal-body">
  <div class="row">
    <div class="col-12 text-center">
      <i class="far fa-3x fa-check-circle text-primary"></i>
      <h4 class="text-primary font-weight-bold my-2">Taller creado</h4>
    </div>
    <div class="col-12 text-center py-2 px-3">
      <button class="btn btn-natura d-inline-block" (click)="onWorkshopLoad()">
        Ver info. del taller
      </button>
    </div>
    <div class="col-12 text-center py-2 px-3">
      <button class="btn btn-natura d-inline-block" (click)="onWorkshopsLoad()">
        Ir al mis talleres
      </button>
    </div>
  </div>
</div>
