@import "../../variables.scss";

app-layout {

  #wrapper {
    padding-left: $sidebar-collapsed-width;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    min-height: 100vh;
    background: url('/assets/img/backgrounds/dashboard.png') repeat-y;
    background-size: 100% auto;
  }

  #wrapper.toggled {
    padding-left: $sidebar-collapsed-width;
  }

  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-width;
    width: $sidebar-collapsed-width;
    height: 100%;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    background: white;
    background: url('/assets/img/backgrounds/sidebar-collapsed.png') no-repeat;
    background-size: cover;
    background-color: white;
    box-shadow: 1px 0 11px rgba(0,0,0,0.2);
  }

  #wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width;
    background: white url('/assets/img/backgrounds/sidebar.png');
    background-size: cover;
  }

  #page-content-wrapper {
    width: calc(100% - #{$sidebar-collapsed-width});
    position: absolute;
  }

  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$sidebar-width;
  }


  /* Sidebar Styles */

  .sidebar-nav {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    .toggle {
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
    .menu-item {
      cursor: pointer;
      transition: .3s;
      border: 0 none;
      outline: 0 none;
      > * {
        vertical-align: baseline;
      }
      i {
        font-size: 1.5em;
      }
      &:hover, &:active, &.active {
        background: -moz-linear-gradient(left, #417cb9 0%, #7b84c4 100%);
        background: -webkit-linear-gradient(left, #417cb9 0%,#7b84c4 100%);
        background: linear-gradient(to right, #417cb9 0%,#7b84c4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417cb9', endColorstr='#7b84c4',GradientType=1 );
        color: white;
        font-weight: bold;
      }
    }
  }

  @media screen and (min-width: 768px) {
    #page-content-wrapper {
      width: 100%;
      position: relative;
    }
    #wrapper {
      padding-left: $sidebar-collapsed-width;
    }
    #wrapper.toggled {
      padding-left: $sidebar-width;
    }
    #sidebar-wrapper {
      width: $sidebar-collapsed-width;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: $sidebar-width;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }

  @media (max-width: 767.98px) {
    #wrapper {
      padding-left: 0;
    }

    #wrapper.toggled {
      padding-left: 0;
    }

    #sidebar-wrapper {
      width: 0;
    }

    #page-content-wrapper {
      width: 100%;
    }

    #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: 0;
    }
  }

}

