@import "../../variables.scss";

app-layout {

  #wrapper {
    padding-left: $sidebar-collapsed-width;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: whitesmoke;
    min-height: 100vh;
  }

  #wrapper.toggled {
    padding-left: $sidebar-width;
  }

  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-width;
    width: $sidebar-collapsed-width;
    height: 100%;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    background: white;
    background: url('../../assets/img/backgrounds/sidebar-collapsed.png') no-repeat;
    background-size: cover;
    background-color: white;
    transition: none;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width;
    background: url('../../assets/img/backgrounds/sidebar.png');
    background-color: white;
  }

  #page-content-wrapper {
    width: calc(100% - #{$sidebar-collapsed-width});
    position: absolute;
    padding: 15px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$sidebar-width;
  }


  /* Sidebar Styles */

  .sidebar-nav {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    .toggle {
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 768px) {
    #page-content-wrapper {
      width: 100%;
      position: relative;
      padding: 15px;
    }

    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }

}

