<div id="sidebar-wrapper" class="bg-sidebar">
  <div class="sidebar-nav">
    <div class="toggle py-4" (click)="onToggleSidebar()">
      <p class="text-center">
        <span class="font-weight-bold align-middle mr-2" *ngIf="isEnabled">Mi Natura Web</span>
        <i class="fas align-middle" [ngClass]="{'fa-angle-right': !isEnabled, 'fa-angle-left': isEnabled}"></i>
      </p>
    </div>
    <div class="avatar w-100 text-center mt-2 mt-md-3">
      <app-avatar [consultant]="consultant.consultant_avatar"
                  [size]="isEnabled ? 'large' : 'small'"></app-avatar>
    </div>
    <div class="w-100 text-center mt-3 px-2">
      <small>¡Hola!</small>
      <p class="font-weight-bold m-0" *ngIf="isEnabled">
        {{consultant.name}}
      </p>
      <p class="font-weight-bold m-0" *ngIf="!isEnabled">
        {{consultant.alias}}
      </p>
      <hr class="m-0">
      <h3 class="text-primary m-0" *ngIf="!consultant.isDRV">
        {{consultant.career_level}}
      </h3>
      <h4 class="text-primary m-0" *ngIf="consultant.isDRV">
        DRV
      </h4>
    </div>
    <div class="w-100 mt-3">
      <ng-container *ngFor="let item of menuItems">
        <div class="menu-item py-3"
             *ngIf="item.route"
             [ngClass]="{'text-left pl-2': isEnabled, 'text-center pl-0': !isEnabled}"
             [routerLink]="[item.route]"
             routerLinkActive="active">
          <i class="natura-icon-{{item.icon}}"></i>
          <span class="font-weight-light ml-4" *ngIf="isEnabled">{{item.name}}</span>
        </div>
        <div class="menu-item py-3"
             *ngIf="item.action"
             [ngClass]="{'text-left pl-2': isEnabled, 'text-center pl-0': !isEnabled}"
             (click)="item.action()">
          <i class="natura-icon-{{item.icon}}"></i>
          <span class="font-weight-light ml-4" *ngIf="isEnabled">{{item.name}}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
