<div class="container-fluid">
  <div class="row">
    <div class="col-12 pb-4">
      <div class="natura-card mt-4 p-4 p-md-5">
        <div class="row">
          <div class="col-12">
            <div class="float-left cursor-pointer" appPreviousButton>
              <i class="fas fa-angle-left mr-4"></i><h5 class="font-weight-bold d-inline-block">Regresar</h5>
            </div>
          </div>
          <div class="col-12">
            <img src="/assets/img/icons/gradient-png/workshop.png" class="natura-card-icon">
            <h5 class="mb-0 font-weight-bold mt-2">Detalles generales</h5>
          </div>
          <div class="col-12 px-3 pb-1 pt-3">
            <div class="workshop-type py-5"
                 [style.backgroundImage]="'url(/assets/img/images/' + workshopType.picture + ')'">
              <p class="text-white font-weight-bold text-left ml-3 mb-0" [innerHTML]="workshopType.name"></p>
              <h1 class="text-white ml-3 font-weight-bold">{{workshopName?.name}}</h1>
            </div>
          </div>
          <div class="col-12 pt-3">
            <app-loader [loading]="loading"></app-loader>
          </div>
          <!-- NOT IMPLEMENTED YET, DO NOT REMOVE -->
          <!--
          <div class="col-12 col-md-6 text-center mb-3">
            <div class="btn-natura-select text-left p-2 p-sm-3"
                 (click)="onSetPrivacy(true)"
                 [ngClass]="{'active': workshop.private}">
              <i class="natura-icon-private-event align-middle icon"></i>
              <div class="text d-inline-block align-middle px-2 px-md-3">
                <p class="font-weight-bold m-0">Evento privado</p>
                <small class="m-0">Visíble solo para invitados</small>
              </div>
              <div class="check d-inline-block align-middle ml-2 ml-md-3 ml-lg-5">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 text-center mb-3">
            <div class="btn-natura-select text-left p-2 p-sm-3"
                 (click)="onSetPrivacy(false)"
                 [ngClass]="{'active': !workshop.private}">
              <i class="natura-icon-attendance align-middle icon"></i>
              <div class="text d-inline-block align-middle px-2 px-md-3">
                <p class="font-weight-bold m-0">Evento público</p>
                <small class="m-0">Visíble para cualquier usuario de Mi Natura</small>
              </div>
              <div class="check d-inline-block align-middle ml-2 ml-md-3 ml-lg-5">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <p class="text-primary m-0 cursor-pointer" (click)="onOpenPrivateModal(privateModal)">
              <u>¿Qué es un evento privado?</u>
            </p>
          </div>
          -->
          <div class="col-12 p-1 p-md-3">
            <div class="natura-card">
              <div class="natura-card-header p-3">
                <h5 class="m-0 font-weight-bold">Taller</h5>
              </div>
              <div class="natura-card-body p-2 p-md-4 p-lg-5">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="workshopForm">
                  <div class="form-row">
                    <div class="form-group col-12 col-md-6 offset-md-3 col-lg-8 offset-lg-2">
                      <label for="name"><strong>Nombre del taller*</strong></label>
                      <input type="text" class="form-control" name="name"
                             id="name" placeholder="Nombre del taller"
                             [(ngModel)]="workshop.name" required
                             [disabled]="workshopName.id !== 1" #name="ngModel"
                             [ngClass]="{'is-invalid': f.submitted && name.errors}">
                    </div>
                    <div class="form-group col-12 col-md-6 offset-md-3 col-lg-8 offset-lg-2">
                      <label for="description"><strong>Descripción*</strong></label>
                      <textarea class="form-control" name="description" rows="4"
                                id="description" placeholder="Descripción" #description="ngModel"
                                [(ngModel)]="workshop.description" required
                                [disabled]="workshopName.id !== 1 && workshopType.id === 1"
                                [ngClass]="{'is-invalid': f.submitted && description.errors}"></textarea>
                    </div>
                    <div class="form-group col-12 col-md-6 offset-md-3 col-lg-8 offset-lg-2"
                         *ngIf="consultant.isDRV && workshopType.id === 2">
                      <label for="sede"><strong>Sede</strong></label>
                      <input type="text" class="form-control" name="sede"
                             id="sede" placeholder="Sede"
                             [(ngModel)]="workshop.sede">
                    </div>
                  </div>
                  <div class="form-row justify-content-center">
                    <div class="form-group col-12 col-sm-6"
                         [ngClass]="workshopName.specialist ? 'col-lg-3' : 'col-lg-4'">
                      <label for="date"><strong>Fecha*</strong></label>
                      <input class="form-control" name="selectedDate"
                             id="date" placeholder="Fecha del taller"
                             bsDatepicker [(ngModel)]="selectedDate"
                             [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                             [minDate]="today" #date="ngModel"
                             [ngClass]="{'is-invalid': f.submitted && date.errors}"
                             autocomplete="off" required>
                    </div>
                    <div class="form-group col-12 col-sm-6"
                         [ngClass]="workshopName.specialist ? 'col-lg-3' : 'col-lg-4'">
                      <label for="hour"><strong>Hora*</strong></label>
                      <timepicker [(ngModel)]="selectedHour" id="hour"
                                  name="selectedHour" [showSpinners]="false"
                                  #hour="ngModel" required
                                  [ngClass]="{'is-invalid': f.submitted && hour.errors}"></timepicker>
                    </div>
                    <div class="form-group col-12"
                         [ngClass]="workshopName.specialist ? 'col-sm-6 col-lg-3' : 'col-lg-4'">
                      <label for="duration"><strong>Duración*</strong></label>
                      <select
                          class="form-control" name="duration"
                          id="duration" placeholder="Duración del taller"
                          [(ngModel)]="workshop.duration" required>
                        <option *ngFor="let hour of hours; let i = index"
                                [value]="hour.value" [selected]="i === 0">
                          {{hour.display}} hora<span *ngIf="hour.display > 1">s</span>
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-12 col-sm-6 col-lg-3"
                         *ngIf="workshopName.specialist">
                      <label for="duration"><strong>Especialista</strong></label>
                      <select
                        class="form-control" name="specialist"
                        id="specialist" placeholder="Especialista"
                        [(ngModel)]="workshop.specialist">
                        <option *ngFor="let specialist of specialists"
                                [value]="specialist.id">
                          {{specialist.name}}
                        </option>
                      </select>
                    </div>
                    <div class="col-12 text-center mt-3">
                      <div class="cursor-pointer w-100" (click)="onSelectLocation()">
                        <span class="fas fa-map-marker-alt align-middle mr-3"></span>
                        <p class="d-inline-block m-0 align-middle"
                           *ngIf="!workshop.address_string || workshop.address_string.trim() === ''">
                          Agregar ubicación
                        </p>
                        <p class="d-inline-block m-0 align-middle"
                           *ngIf="workshop.address_string && workshop.address_string.trim() !== ''">
                          {{workshop.address_string}}
                        </p>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-natura btn-big"
                    form="workshopForm" [disabled]="loadingWorkshop">
              <i class="fas fa-spinner fa-spin" *ngIf="loadingWorkshop"></i>
              Crear taller
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #privateModal>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <button type="button" class="close pull-right" aria-label="Close" (click)="privateEventModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12 text-center p-3">
        <img src="/assets/img/icons/gradient-png/private-event.png" class="img-fluid d-inline-block"
             style="max-width: 50px;">
        <h4 class="my-3 font-weight-bold text-primary">Evento privado</h4>
        <p class="m-0">
          Al realizar un evento privado,
          tendrás la oportunidad de seleccionar a las personas que te gustaría que asistieran.
          Mientras que para el resto de los usuarios no será visible este taller.
        </p>
      </div>
    </div>
  </div>
</ng-template>
