$natura-icon-trash: "\e900";
$natura-icon-add-staff: "\e913";
$natura-icon-attendance: "\e914";
$natura-icon-checkin: "\e915";
$natura-icon-edit: "\e916";
$natura-icon-help: "\e917";
$natura-icon-home: "\e918";
$natura-icon-id: "\e919";
$natura-icon-invited: "\e91a";
$natura-icon-location: "\e91b";
$natura-icon-logout: "\e91c";
$natura-icon-news: "\e91d";
$natura-icon-private-event: "\e91e";
$natura-icon-profile: "\e91f";
$natura-icon-register-list: "\e921";
$natura-icon-carret-back: "\e922";
$natura-icon-schedule: "\e923";
$natura-icon-send-report: "\e924";
$natura-icon-share: "\e925";
$natura-icon-workshop: "\e926";


@font-face {
  font-family: 'NaturaIcons';
  src:  url('assets/fonts/NaturaIconFont/NaturaIcons.eot?4vrr6t');
  src:  url('assets/fonts/NaturaIconFont/NaturaIcons.eot?4vrr6t#iefix') format('embedded-opentype'),
  url('assets/fonts/NaturaIconFont/NaturaIcons.ttf?4vrr6t') format('truetype'),
  url('assets/fonts/NaturaIconFont/NaturaIcons.woff?4vrr6t') format('woff'),
  url('assets/fonts/NaturaIconFont/NaturaIcons.svg?4vrr6t#natura-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="natura-icon"], [class*=" natura-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'NaturaIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.natura-icon-trash {
  &:before {
    content: $natura-icon-trash;
  }
}

.natura-icon-add-staff {
  &:before {
    content: $natura-icon-add-staff;
  }
}
.natura-icon-attendance {
  &:before {
    content: $natura-icon-attendance;
  }
}
.natura-icon-checkin {
  &:before {
    content: $natura-icon-checkin;
  }
}
.natura-icon-edit {
  &:before {
    content: $natura-icon-edit;
  }
}
.natura-icon-help {
  &:before {
    content: $natura-icon-help;
  }
}
.natura-icon-home {
  &:before {
    content: $natura-icon-home;
  }
}
.natura-icon-id {
  &:before {
    content: $natura-icon-id;
  }
}
.natura-icon-invited {
  &:before {
    content: $natura-icon-invited;
  }
}
.natura-icon-location {
  &:before {
    content: $natura-icon-location;
  }
}
.natura-icon-logout {
  &:before {
    content: $natura-icon-logout;
  }
}
.natura-icon-news {
  &:before {
    content: $natura-icon-news;
  }
}
.natura-icon-private-event {
  &:before {
    content: $natura-icon-private-event;
  }
}
.natura-icon-profile {
  &:before {
    content: $natura-icon-profile;
  }
}
.natura-icon-register-list {
  &:before {
    content: $natura-icon-register-list;
  }
}
.natura-icon-carret-back {
  &:before {
    content: $natura-icon-carret-back;
  }
}
.natura-icon-schedule {
  &:before {
    content: $natura-icon-schedule;
  }
}
.natura-icon-send-report {
  &:before {
    content: $natura-icon-send-report;
  }
}
.natura-icon-share {
  &:before {
    content: $natura-icon-share;
  }
}
.natura-icon-workshop {
  &:before {
    content: $natura-icon-workshop;
  }
}

