/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~ngx-toastr/toastr.css';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/functions';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~ngx-bootstrap/datepicker/bs-datepicker";
@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/modern/modern-light-theme';
@import "icon-font";

@font-face {
  font-family: 'NaturaSansRegular';
  src: url('assets/fonts/NaturaSansRegular/NaturaSans-Regular.eot');
  src: url('assets/fonts/NaturaSansRegular/NaturaSans-Regular.woff2') format('woff2'),
  url('assets/fonts/NaturaSansRegular/NaturaSans-Regular.woff') format('woff'),
  url('assets/fonts/NaturaSansRegular/NaturaSans-Regular.ttf') format('truetype'),
  url('assets/fonts/NaturaSansRegular/NaturaSans-Regular.svg#NaturaSans-Regular') format('svg'),
  url('assets/fonts/NaturaSansRegular/NaturaSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NaturaSansBold';
  src: url('assets/fonts/NaturaSansBold/NaturaSans-Bold.eot');
  src: url('assets/fonts/NaturaSansBold/NaturaSans-Bold.woff2') format('woff2'),
  url('assets/fonts/NaturaSansBold/NaturaSans-Bold.woff') format('woff'),
  url('assets/fonts/NaturaSansBold/NaturaSans-Bold.ttf') format('truetype'),
  url('assets/fonts/NaturaSansBold/NaturaSans-Bold.svg#NaturaSans-Bold') format('svg'),
  url('assets/fonts/NaturaSansBold/NaturaSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NaturaSansLight';
  src: url('assets/fonts/NaturaSansLight/NaturaSans-Light.eot');
  src: url('assets/fonts/NaturaSansLight/NaturaSans-Light.woff2') format('woff2'),
  url('assets/fonts/NaturaSansLight/NaturaSans-Light.woff') format('woff'),
  url('assets/fonts/NaturaSansLight/NaturaSans-Light.ttf') format('truetype'),
  url('assets/fonts/NaturaSansLight/NaturaSans-Light.svg#NaturaSans-Light') format('svg'),
  url('assets/fonts/NaturaSansLight/NaturaSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NaturaScript';
  src: url('assets/fonts/NaturaScript/NaturaScript.eot');
  src: url('assets/fonts/NaturaScript/NaturaScript.woff2') format('woff2'),
  url('assets/fonts/NaturaScript/NaturaScript.woff') format('woff'),
  url('assets/fonts/NaturaScript/NaturaScript.ttf') format('truetype'),
  url('assets/fonts/NaturaScript/NaturaScript.svg#NaturaScript') format('svg'),
  url('assets/fonts/NaturaScript/NaturaScript.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NaturaSansRegular';
}

a {
  cursor: pointer;
}

.natura-script {
  font-family: 'NaturaScript'!important;
}

.logo {
  display: inline-block;
  max-width: 100px;
}

.btn-natura {
  border-radius: 20px;
  border: 1px solid transparent;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  transition: .3s;
  color: #004897;
  background-color: white;
  &.btn-small {
    font-size: 1em;
    padding: 2px 8px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
  }
  &:hover {
    border: 1px solid #004897;
  }
  &:active {
    background: #417cb9;
    border: 1px solid transparent;
    background: -moz-linear-gradient(left, #417cb9 0%, #7b84c4 100%);
    background: -webkit-linear-gradient(left, #417cb9 0%,#7b84c4 100%);
    background: linear-gradient(to right, #417cb9 0%,#7b84c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417cb9', endColorstr='#7b84c4',GradientType=1);
    color: white;
  }
  &.btn-big {
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: bold;
    padding: .5em 3em;
    max-width: 100%;
  }
  &.btn-wide {
    padding: .2em 2.5em;
  }
  &.btn-floating {
    position: absolute;
    &.left {
      left: 20px;
    }
    &.top {
      top: 20px;
    }
    &.bottom {
      bottom: 20px;
    }
    &.right {
      right: 20px;
    }
    &.center {
      left: calc(50% - 100px);
    }
  }
}

.input-natura {
  border-radius: 20px!important;
  border: 0 none;
  outline: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.5)!important;;
  -moz-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.5)!important;;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.5)!important;
}

.btn-natura-select {
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  border: 1px solid transparent;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
  transition: .3s;
  color: #004897;
  max-width: 320px;
  height: 100%;
  background-color: white;
  &:hover {
    border: 1px solid #004897;
  }
  &:active, &.active {
    background: #417cb9;
    border: 1px solid transparent;
    background: -moz-linear-gradient(left, #417cb9 0%, #7b84c4 100%);
    background: -webkit-linear-gradient(left, #417cb9 0%,#7b84c4 100%);
    background: linear-gradient(to right, #417cb9 0%,#7b84c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417cb9', endColorstr='#7b84c4',GradientType=1);
    color: white;
    .text {
      color: white;
    }
    .check {
      border-radius: 100%;
      background-color: lightgrey;
      width: 20px;
      height: 20px;
      background: -moz-linear-gradient(right, #417cb9 0%, #7b84c4 100%);
      background: -webkit-linear-gradient(right, #417cb9 0%,#7b84c4 100%);
      background: linear-gradient(to right, #417cb9 0%,#7b84c4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b84c4', endColorstr='#417cb9',GradientType=1);
      i {
        visibility: visible;
      }
    }
  }
  i.icon {
    font-size: 30px;
  }
  .text {
    color: black;
    max-width: 155px;
    p {
      max-width: 100%;
    }
    small {
      font-size: 12px;
    }
  }
  .check {
    border-radius: 100%;
    background-color: lightgrey;
    width: 20px;
    height: 20px;
    i {
      font-size: 12px;
      visibility: hidden;
      margin-left: 4px;
    }
  }
}

.natura-card {
  border-radius: 8px;
  box-shadow: 1px 0px 11px rgba(0,0,0,0.2);
  min-height: 240px;

  .natura-card-header {
    color: white;
    border-radius: 8px 8px 0 0;
    background: -moz-linear-gradient(left, #417cb9 0%, #7b84c4 100%);
    background: -webkit-linear-gradient(left, #417cb9 0%,#7b84c4 100%);
    background: linear-gradient(to right, #417cb9 0%,#7b84c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417cb9', endColorstr='#7b84c4',GradientType=1);
  }

  .natura-card-body {
    min-height: 180px;
    border-radius: 0 0 8px 8px;
  }

  .natura-card-bottom {
    padding-bottom: 30px;
    box-shadow: inset 0px -45px 80px white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .natura-img-fill {
    width: 100%;
    background-size: cover;
    background-position-y: center;
    position: relative;
  }

  .natura-card-icon {
    display: inline-block;
    max-width: 35px;
    float: left;
    margin-right: 16px;
  }

}

.bg-natura {
  background: -moz-linear-gradient(left, #417cb9 0%, #7b84c4 100%);
  background: -webkit-linear-gradient(left, #417cb9 0%,#7b84c4 100%);
  background: linear-gradient(to right, #417cb9 0%,#7b84c4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417cb9', endColorstr='#7b84c4',GradientType=1);
}

.cursor-pointer {
  cursor: pointer!important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-scroll {
  overflow: scroll;
}

.bs-datepicker-head, .bs-datepicker-body table td span.selected {
  background: -moz-linear-gradient(left, #417cb9 0%, #7b84c4 100%);
  background: -webkit-linear-gradient(left, #417cb9 0%,#7b84c4 100%);
  background: linear-gradient(to right, #417cb9 0%,#7b84c4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417cb9', endColorstr='#7b84c4',GradientType=1);
}

.bs-datepicker-body table td span.selected {
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
}

.bs-datepicker-body table td.week span {
  color: #417cb9!important;
}

.natura-card-button {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  -webkit-box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
  transition: .3s;
  color: grey;
  border-radius: 8px;
  background-color: white;
  .icon {
    font-size: 26px;
  }
  p {
    max-width: 100%;
  }
  &:hover {
    border: 1px solid #004897;
  }
  &:active {
    background: #417cb9;
    border: 1px solid transparent;
    background: -moz-linear-gradient(left, #417cb9 0%, #7b84c4 100%);
    background: -webkit-linear-gradient(left, #417cb9 0%, #7b84c4 100%);
    background: linear-gradient(to right, #417cb9 0%, #7b84c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#417cb9', endColorstr='#7b84c4', GradientType=1);
    color: white;
  }
}

timepicker {
  button {
    border-color: #ced4da!important;
    &:hover {
      background-color: #e2e6ea;
      border-color: #e2e6ea;
    }
  }
  input {
    padding: 5px!important;
  }
  &.is-invalid {
    input {
      border-color: #dc3545;
    }
  }
}

.pac-container, .pac-logo {
  z-index: 2000;
}

.page-arrow {
  cursor: pointer;
  &.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    opacity: 0.3;
  }
}

.tab-natura {
  .nav-link.active {
    background: #417cb9;
    background: -moz-linear-gradient(left, #417cb9 0%, #7b84c4 100%);
    background: -webkit-linear-gradient(left, #417cb9 0%, #7b84c4 100%)!important;
    background: linear-gradient(to right, #417cb9 0%, #7b84c4 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#417cb9', endColorstr='#7b84c4', GradientType=1);
    color: white;
  }
}

.natura-search {
  .form-control {
    border-radius: 0 20px 20px 0;
    box-shadow: none;
    outline: none!important;
    height: 28px;
  }
  .input-group-text {
    border-radius: 20px 0 0 20px;
    height: 28px;
  }
}

.calendar-header {
  white-space: nowrap;
  overflow-x: auto;
  display: inline-block;
  .calendar-item {
    display: inline-block;
    margin: 0 .85rem;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    &.active {
      h5 {
        background: -moz-linear-gradient(left, #417cb9 0%, #7b84c4 100%);
        background: -webkit-linear-gradient(left, #417cb9 0%,#7b84c4 100%);
        background: linear-gradient(to right, #417cb9 0%,#7b84c4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417cb9', endColorstr='#7b84c4',GradientType=1 );
        font-weight: bold;
        color: white!important;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        padding-top: 5px;
        margin-top: 0;
      }
    }
    small {
      font-size: .7em;
    }
    h5 {
      font-size: 1em;
      margin: 5px 0 0;
    }
  }
}

.modal-backdrop {
  background-color: #004897!important;
}

