<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="natura-card mt-4 p-4">
        <div class="row">
          <div class="col-12">
            <div class="float-left cursor-pointer" appPreviousButton>
              <i class="fas fa-angle-left mr-4"></i><h5 class="font-weight-bold d-inline-block">Regresar</h5>
            </div>
          </div>
          <div class="col-12">
            <img src="../../assets/img/icons/gradient-png/workshop.png" class="natura-card-icon">
            <h5 class="mb-0 font-weight-bold mt-2">Nombre del taller</h5>
          </div>
          <div class="col-12 px-3 pb-1 pt-3">
            <div class="workshop-type d-flex align-items-center"
                 [style.backgroundImage]="'url(../../assets/img/images/' + workshopType.picture + ')'">
              <h1 class="text-white font-weight-bold text-left ml-3 mb-0" [innerHTML]="workshopType.name"></h1>
            </div>
          </div>
          <div class="col-12 pt-3">
            <app-loader [loading]="loading"></app-loader>
          </div>
          <div class="col-12 col-md-4 col-lg-3 px-3 py-1" *ngFor="let workshop of nameList">
            <div class="natura-card-button p-3 d-flex align-items-center cursor-pointer"
                 (click)="setSelectedWorkshop(workshop)">
              <p class="m-0 font-weight-bold">{{workshop.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
