@import "../../../variables";

.natura-card-body {

  position: relative;

  &.small {
    max-height: 180px;
    overflow-y: hidden;
  }

  &.medium {
    max-height: 380px;
    overflow-y: hidden;
  }

  .workshop {

    .description {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    hr {
      background-color: $purple-haze;
      opacity: 0.3;
    }
  }
}

