<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="natura-card my-4 p-1 p-sm-4">
        <div class="row">
          <div class="col-12 mb-3">
            <div class="float-left cursor-pointer" appPreviousButton>
              <i class="fas fa-angle-left mr-4"></i><h5 class="font-weight-bold d-inline-block">Regresar</h5>
            </div>
            <div class="float-right text-capitalize">{{ today | date:'EEEE, MMMM d, y' }}</div>
          </div>
          <div class="col-12 mb-5">
            <img src="../../../assets/img/icons/gradient-png/workshop.png" class="natura-card-icon">
            <h4 class="mb-0 font-weight-bold mt-2">{{title}}</h4>
          </div>
          <div class="col-12">
            <div class="natura-card">
              <app-loader [loading]="loading" class="p-3"></app-loader>
              <app-workshop-list
                *ngIf="!loading"
                [workshopList]="workshopList"
                [consultant]="consultant"></app-workshop-list>
            </div>
          </div>
          <div class="col-12 text-left pt-4">
            <a class="cursor-pointer mr-5"
               *ngIf="previousPage && previousPage.trim() !== ''"
               (click)="getPage(previousPage)">
              <i class="fas fa-2x fa-angle-left text-primary"></i>
            </a>
            <a class="cursor-pointer"
               *ngIf="nextPage && nextPage.trim() !== ''"
               (click)="getPage(nextPage)">
              <i class="fas fa-2x fa-angle-right text-primary"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
